.product {
  position: relative;
  border: 1px solid #95a0a7;
  border-radius: 10px;
  position: relative;
  height: 500px;
  width: 300px;
  overflow: hidden;
}
.product .product-wrapper {
  padding: 10px;
  position: relative;
}

.product .product-wrapper .img-box {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.product .product-wrapper .img-box img {
  width: 100%;
  height: 100%;
}

.product .product-wrapper .product-details h3 {
  font-weight: 400;
  font-size: 21px;
  color: #0e161a;
  margin-bottom: 10px;
}
.product .product-wrapper .product-details h4 {
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-bottom: 15px;
}
.product .product-wrapper .product-details p {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.004em;
  color: #2a414f;
  margin-bottom: 5px;
}
.product button {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 48px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.0125em;
  color: #0e161a;
  border-top: 1px solid #95a0a7;
  background-color: #ffe0b3;
  cursor: pointer;
}
