.header {
  height: 80px;
  background-color: #1c2b35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: #fff;
  margin-left: 20px;
}
